.App-header{

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow:hidden;
}

.App {
  position: relative;
  z-index: 1;
}

.App-header video{
  top:0;
  position: fixed;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
}

